
.descriptions_item_container {
    display: flex;

    .descriptions_item_label {
        margin-right: 10px;
        display: inline-flex;
        align-items: baseline;
    }

}


.operate-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    .form-item {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        min-width: 20%;
    }

    .form-item-1 {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        min-width: 10%;
    }

    .form-item-2 {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        min-width: 20%;
    }

    .form-item-3 {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        min-width: 25%;
    }
}

.code-editor {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

    .code-item {
        width: 100%;
        height: 355px
    }
}
