
.descriptions_item_container {
    display: flex;

    .descriptions_item_label {
        margin-right: 10px;
        display: inline-flex;
        align-items: baseline;
    }

}

.custom-button {
    border: none; /* 无边框 */
    border-radius: 4px; /* 圆角 */
    padding: .375rem 1rem;
    color: white;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    /*font-size: 16px;*/
    cursor: pointer;
    box-sizing: border-box;
    display: inline-flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* 蓝色按钮 */
.custom-button.blue {
    background-color: #007bff;
}

.custom-button.blue:hover {
    background-color: #0069d9;
}

.custom-button.blue:active {
    background-color: #005cbf;
}

.custom-button.blue.disabled {
    background-color: #90caf9;
    color: #eeeeee;
    cursor: not-allowed;
    pointer-events: none;
}

/* 红色按钮 */
.custom-button.red {
    background-color: #dc3545;
}

.custom-button.red:hover {
    background-color: #c82333;
}

.custom-button.red:active {
    background-color: #bd2130;
}

.custom-button.red.disabled {
    background-color: #ef9a9a;
    color: #eeeeee;
    cursor: not-allowed;
    pointer-events: none;
}

/* 禁用状态 */
.custom-button.disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    pointer-events: none;
}

.form-item-100 {
    max-width: 100%;
    margin-bottom: 0.1rem;
}

.form-item-70 {
    max-width: 70%;
    margin-bottom: 0.1rem;
}

.config-select {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .select-all-btn {
        min-width: 8rem;
        font-size: 0.9rem;
        margin-left: 30px;
    }
}


.operate-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .title {
        font-weight: bold;
    }

    .item {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        min-width: 20%;
    }

    .item-10 {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        min-width: 10%;
    }

    .item-20 {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        min-width: 20%;
    }

    .form-25 {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        min-width: 25%;
    }

    .item-45 {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        min-width: 40%;
    }
}

.code-editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

    .code-item {
        width: 100%;
        height: 355px
    }
}
